body{
	background-color: #D1D771;
}
 #banner ul{
	position: relative;
}

#banner ul li{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}
#banner ul .bannerb1{
	 
     height: 1100px;
	background: #638111 url(../images/banner01b.jpg) ;
}
#banner ul .bannerb1 div{
	height: 755px;
	background:  url(../images/banner01.jpg) no-repeat center top;
}
#banner ul .bannerb2{
	height: 1100px;
	background: #425C15 url(../images/banner02b.jpg) ;
}
#banner ul .bannerb2 div{
	height: 755px;
	background:  url(../images/banner02.jpg) no-repeat center top;
}
 
 .zhengti{
    width: 960px;
    position: relative;
    margin: 0 auto;
     }
    #heaber{
	width: 953px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0;
}
#heaber .logo{
	padding-top: 51px;
}
 #heaber .logo h3{
 	width: 159px;
 	height: 44px;
 	background: url(../images/ling.png) no-repeat -11px -6px;
 	display: block;
 	text-indent: -9999px;
 }
 #heaber p{
 	width: 243px;
 	height: 20px;
 	background: url(../images/ling.png) no-repeat -30px -143px;
 	margin-top: 8px;
 }
 #heaber p span{
 	color: #fff;
    line-height: 20px;
    font-family: "微软雅黑","黑体","宋体","楷体";
     
 }
  #heaber p span a{
  	
       padding-right: 54px;
        padding-left: 14px;
  }
   #heaber p span a:link ,  #heaber p span a:visited{
   	line-height: 20px ;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
   }
    #heaber p span a:hover{
    	color: #02699e;
    	text-decoration: underline;
    }
     #heaber .nav{
     	padding-top: 27px;
     	padding-right: 18px;
     }
     #heaber .nav  ul li{
     	float: left;
        margin: 4px;
        text-align: center;

     }
     #heaber .nav  ul li a{
        width: 101px;
     	height: 40px;
     	display: block;
     	background: url(../images/ling.png) no-repeat -211px -10px;
     	
     }
     #heaber .nav  ul li a:link , #heaber .nav  ul li a:visited{
     	line-height: 40px;
        font-size: 14px;
        font-family: '微软雅黑';
        color: #fff;
        text-decoration: none;
        
     }
     #heaber .nav  ul li a:hover{
     	width: 101px;
     	height: 40px;
     	background-position: -211px -61px; 
     }
     
     #content{
    	width:960px;
    	margin: 0 auto;
        position: absolute;
    	top: 314px;
    }
   #content .shang ul li {
    	float: left;
    }
    #content .shang ul .k{
	width: 237px;
	height: 240px;
	background: url(../images/ling.png)  no-repeat -3px -177px;
}
#content .shang ul .k div{
	padding-left: 35px;
	padding-top: 85px;
}
#content .shang ul .k div p{
	 padding-bottom: 10px;
}
#content .shang ul .k div .deng{
	border: 1px solid #CCCCCC;
	width: 53px;
	height: 20px;
	background: #FFFFFF;
	cursor: pointer;
}
#content .shang ul .k div a:link , #content .shang ul .k div a:visited{
	text-decoration: none;
	color: #000;
}
#content .shang ul .k div a:hover{
	color: red;
	text-decoration: underline;
}
#content .shang ul .k2{
	width: 237px;
	height: 215px;
	background: url(../images/ling.png)  no-repeat -11px -440px;
	text-align: center;
	padding-top: 25px;
}
#content .zhong{
	width: 949px;
	overflow: hidden;
}
#content .zhong div{
	float: left;
}
#content .zhong .z1{
	width: 189px;
	height: 193px;
	background: url(../images/ling.png)  no-repeat -273px -178px;
	position: relative;
	padding: 24px;
}

#chuantong{
	width: 189px;
	height: 193px;
	position: relative;
	overflow:hidden;
	

}
#chuantong .tuul{
	list-style: none;
	width: 10000px;
	position: absolute;
	left: 0;
	top: 0;
}
#chuantong .tuul li{
	float: left;
}
.dianul{
	list-style: none;
	position: absolute;
	right: 66px;
	bottom: 6px;
}
.dianul li{
	float: left;
	width: 15px;
	height: 15px;
	margin-right: 8px;
	background:url(../images/ling.png) no-repeat -987px -128px;
	cursor: pointer;
}
.dianul li.cur{
	background:url(../images/ling.png) no-repeat -953px -130px;
}
#content .zhong .z2{
	width: 237px;
	height: 240px;
	background: url(../images/ling.png)  no-repeat -273px -440px;
}
#content .zhong .z2 .neirong{
padding: 0 30px;
}
#content .zhong .z2 .neirong h1{
	width: 88px;
	height: 46px;
	background: url(../images/ling.png)  no-repeat -510px -15px;
	text-indent: -9999px;
	text-align: center;
	display: block;
	margin:23px 0 0 40px;
}
#content .zhong .z2 .neirong  p{
	font-size: 12px;
	color: #fff;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 30px;
}
#content .zhong .z2 .neirong a{
    float: right;
}
#content .zhong .z2 .neirong a:link , #content .zhong .z2 .neirong  a:visited{
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}
#content .zhong .z2 .neirong a:hover{
	color: #638111;
	text-decoration: underline;
}

#content .zhong .z3{
	width: 237px;
	height: 215px;
	background: url(../images/ling.png)  no-repeat -11px -440px; 
	text-align: center;
	padding-top:  25px;
}
#content .zhong .z4{
	width: 237px;
	height: 240px;
	background: url(../images/ling.png)  no-repeat -11px -440px;
	margin-left: 1px;
	position: relative;
	
}


#content .zhong .z4 h3{
	font-size: 14px;
	padding-left: 20px;
	color:#A1C120;
	font-family: "微软雅黑";
	background: url(../images/ling.png)  no-repeat -980px -40px;
	 margin: 20px 0 20px 20px;
}
#content .zhong .z4 .duo{
width: 18px;
height: 18px;
background: url(../images/ling.png)  no-repeat -944px -100px;
text-indent: -9999px;
display: block;
position: absolute;
top: 25px;
right: 10px;
}
#content .zhong .z4  p a{
	line-height: 20px;
	text-decoration: none;
	font-size: 12px;
	color: #657E00;
	padding-left: 12px;
	background: url(../images/ling.png)  no-repeat -986px -58px;
	margin-left: 10px;
}
#content .zhong .z4  p a:hover{
	text-decoration: underline;
	color: red;
}
#content .zhong .z4  p span{
	float: right;
    margin-left: 50px;
}
#content .zhong .z4 img{
    padding: 10px;

}
#content .zhong .z4  a img.deng1{
	padding-top: 25px;
	padding-left: 15px;
}

#content .di ul li{
	float: left;
}
#content .di ul .di2{
	width: 237px;
	height: 240px;
	background: url(../images/ling.png)  no-repeat -11px -440px;
	float: left;
	position: relative;

}
#content .di ul .di2 a{
	width: 100%
}
#content .di ul .di2 a img{
	position: absolute;
	top: 40px;
	left: 40px;
	width: 161px;
    height:161px;
}
  #ganbeng{
			width: 237px;
	        height: 240px;
			position: relative;
			overflow: hidden;
		}
		#ganbeng .tuul{
			list-style: none;

		}
		#ganbeng .tuul li{
			display: none;
		}
		#ganbeng .tuul li.cur{
			display: block;
		}
		
		#ganbeng .xinxi .dianul{
			list-style: none;
			position: absolute;
			right: 27px;
			bottom: 12px;
		}
		#ganbeng .xinxi .dianul li{
			float: left;
			width: 9px;
			height: 15px;
			margin-right: 8px;
			background:url(images/ling.png)no-repeat -987px -128px;
			cursor: pointer;

		}
		#ganbeng .xinxi .dianul li.cur{
			background:url(images/ling.png) no-repeat -953px -130px;
		}
#content .di ul .di4{
	width: 237px;
	height: 240px;
	float: left;
	position: relative;
}
#content .di ul .di4 h3{
  background: url(../images/ling.png)  no-repeat -860px -278px;
  width: 103px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  float: right;
  margin-top: 12px;
  margin-bottom: 20px;
}
#content .di ul .di4 p{
	float: right;
    padding-left: 40px;
   font-size: 12px;
   color: #fff;
   line-height: 25px;
   font-family: "微软雅黑";
}
#content .di ul .di4 span{
	position: absolute;
	top: 55px;
}

 #footer{
	width: 100%;
	height: 96px;
	background: url(../images/b0.jpg) repeat-x;
	position: relative;
	top:1093px;
}
 #footer .n1{
 	padding-top: 20px;
    width: 884px;
	margin: 0 auto;
	height: 80px;
	padding-left: 69px;
	background: url(../images/h3.jpg) no-repeat left;
}
#footer .n1 .yi1{
	width: 300px;
	height: 69px;
	line-height: 20px;
	color: #b3b2b2;
	float: left;
    padding-left: 10px;
}
#footer .n1 .yi1 span{
	float: left;
}
#footer .n1 .er1{
	width: 275px;
height: 68px;
line-height: 23px;
color: #b3b2b2;
float: left;
padding-left: 50px;


}
#footer .n1 .er1 span{
	padding-left: 140px;
	
}
#footer .n1 .er1 a{
	color: #B3B2B2;
	text-decoration: none;
}
#footer .n1 .er1 a:hover{
	color: red;
	text-decoration: underline;
}
#footer .n1  img{
	padding-left: 50px;
}