body{
	background: url(../images/banner02b.jpg);
}
.tu{
    height: 885px;
	background: url(../images/banner.2.jpg)no-repeat center top;
}
  #heaber{
	width: 953px;
	margin: 0 auto;
	position: absolute;
	top: 0px;
	left: 0;
}
#heaber .logo{
	padding-top: 51px;
}
 #heaber .logo h3{
 	width: 159px;
 	height: 44px;
 	background: url(../images/ling.png) no-repeat -11px -6px;
 	display: block;
 	text-indent: -9999px;
 }
 #heaber p{
 	width: 243px;
 	height: 20px;
 	background: url(../images/ling.png) no-repeat -30px -143px;
 	margin-top: 8px;
 }
 #heaber p span{
 	color: #fff;
    line-height: 20px;
    font-family: "微软雅黑","黑体","宋体","楷体";
     
 }
  #heaber p span a{
  	
       padding-right: 54px;
        padding-left: 14px;
  }
   #heaber p span a:link ,  #heaber p span a:visited{
   	line-height: 20px ;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
   }
    #heaber p span a:hover{
    	color: #02699e;
    	text-decoration: underline;
    }
     #heaber .nav{
     	padding-top: 27px;
     	padding-right: 18px;
     }
     #heaber .nav  ul li{
     	float: left;
        margin: 4px;
        text-align: center;

     }
     #heaber .nav  ul li a{
        width: 101px;
     	height: 40px;
     	display: block;
     	background: url(../images/ling.png) no-repeat -211px -10px;
     	
     }
     #heaber .nav  ul li a:link , #heaber .nav  ul li a:visited{
     	line-height: 40px;
        font-size: 14px;
        font-family: '微软雅黑';
        color: #fff;
        text-decoration: none;
        
     }
     #heaber .nav  ul li a:hover{
     	width: 101px;
     	height: 40px;
     	background-position: -211px -61px; 
     }
    #content{
    	width: 949px;
    	margin: 0 auto;
    	position: absolute;
    	top: 213px;
    }
   
    #content .bd{
     width: 949px;
     height: 894px;
     background: white;
    }
    #content .bd .bei1{
          width: 179px;
          float: left;
           min-height: 890px;
           background: #f9f9f9;
            border-right: 1px solid #eeeeee;
    }
    #content .bd .zuo{
        width: 179px;
        height: 153px;
        background: url(../images/ling.png) no-repeat -69px -711px;
        text-align: center;
    }
    #content .bd .zuo p{
    color: #fff;
  font-size: 26px;
  font-family: '微软雅黑';
  line-height: 30px;
  padding: 35px 0 0 0;
}  
#content .bd .zuo ul{
    margin-top: 50px;

}
 #content .bd .zuo ul li{
      height: 55px;
      border-bottom: 1px solid #eeeeee;
     line-height: 55px;
     text-align: center;
    font-size: 12px;
     font-family: '微软雅黑';
     padding-top: 5px;

 }
 #content .bd .zuo ul li a{
    display: block;
    background: url(../images/niu1.png) no-repeat right;
    width: 140px;
    margin: 0 auto;
}
#content .bd .zuo ul li a:link , #content .bd .zuo ul li a:visited{
    text-decoration: none;
    color: #333;
}
#content .bd .zuo ul li a:hover{
color: #F60;
text-decoration: underline;
}
#content .bd .you{
    width: 765px;
}
#content .bd .you .shang1{
   height: 51px;
   
  background: url(../images/xinwen1.png) no-repeat right;
}
#content .bd .you .shang1 h3{
     background: url(../images/ling.png) no-repeat 0px -64px;
        color: #4d7700;
        padding-left: 30px;
        margin-left: 40px;
        font-size: 16px;
        font-family: '微软雅黑';
        line-height: 51px;
}
#content .bd .you .shang1 p{ 
    padding-right: 11px;
    margin-top: 20px;

}
 
  #content .bd .you .shang1 p a.l1{
    padding-left: 20px;
    background: url(../images/ling.png) no-repeat -924px -37px;
   }
   #content .bd .you  .shang1 p a:link , #content .bd .you .shang1 p a:visited{
    text-decoration: none;
    font-size: 12px;
    color: #333;
   }
   #content .bd .you .shang1 p a:hover{
    color: red;
    text-decoration: underline;
   }
    #content .ft{
     width: 949px;
     height: 6px;
    background: url(../images/eh2.png) no-repeat;
    }
     #content .inner{
      padding: 0 20px;
     }
    #content .inner .t0{
       height: 22px;
       background: #B3C736;
       margin-bottom: 20px;
    }
    #content .inner .t0 span{
      color: #FFFFFF;
      font-size: 16px;
      font-family: "微软雅黑";
      line-height: 22px;

    }
    #content .inner .t0 .zhu1{
        padding-left: 90px;
    }
    #content .inner .t0 .ri1{
       float: right;
       padding-right: 42px;
    }
    #content .inner  ul li{
      height: 22px;
       border-bottom: 1px dashed #7D7D7D;
    }
    #content .inner  ul li a{
    padding-left: 20px;
    }
    #content .inner  ul li a:link ,#content .inner  ul li a:visited{
      font-size: 12px;
      font-family: "微软雅黑";
      text-decoration: none;
      line-height: 22px;
      color: #7D7D7D;
    }
    #content .inner  ul li a:hover{
      color: red;
      text-decoration: underline;
    }
    #content .inner  ul li span{
      float: right;
      padding-right: 30px;
    }
 #footer{
  width: 100%;
  height: 96px;
  background: url(../images/b0.jpg) repeat-x;
  position: absolute;
  top: 1180px;
}
 #footer .n1{
  padding-top: 20px;
    width: 884px;
  margin: 0 auto;
  height: 80px;
  padding-left: 69px;
  background: url(../images/h3.jpg) no-repeat left;
}
#footer .n1 .yi1{
  width: 300px;
  height: 69px;
  line-height: 20px;
  color: #b3b2b2;
  float: left;
    padding-left: 10px;
}
#footer .n1 .yi1 span{
  float: left;
}
#footer .n1 .er1{
width: 275px;
height: 68px;
line-height: 23px;
color: #b3b2b2;
float: left;
padding-left: 50px;


}
#footer .n1 .er1 span{
  padding-left: 140px;
  
}
#footer .n1 .er1 a{
  color: #B3B2B2;
  text-decoration: none;
}
#footer .n1 .er1 a:hover{
  color: red;
  text-decoration: underline;
}
#footer .n1  img{
  padding-left: 50px;
}